.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Aligning data from instagram and twitter */
.instagram {
  width: 50%;
  padding: 5px;
}

.twitter {
  flex-grow: 1;
}

/* Clear floats after image containers */
.social_media {
  display: flex;
}
