.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.summary-content {
  white-space: pre-line;
}

/* Aligning data from instagram and twitter */
.instagram {
  width: wrap-content;
  height: 100%;
  background-color: white;
  padding: 15px;
  margin-right: 15px;
  overflow-y: auto;
}

.twitter {
  flex-grow: 1;
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 15px;
  margin-left: 15px;
  overflow-y: auto;
}

.twitter-head {
  line-height: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.t-pp {
  border-radius: 50%;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 10px;
}

/* Clear floats after image containers */
.social_media {
  display: flex;
  height: 500px;
  width: 98%;
  padding: 10px;
}
