<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Accident Report</title>
  </head>
  <body style="background-color: beige;">
    <section class="header">
      <div class="main_body">
        <img
          class="logo"
          src="{{ url_for('static', filename='assets/accrep.JPG') }}"
          alt="logo"
          height="100"
          width="800"
        />
      </div>
      <hr />
      <div class="location">
        <h1>Location</h1>
        <button
          name="bLocation"
          onclick="window.open('https://www.latlong.net/c/?lat=6.466437&long=3.564418');"
        >
          Go to location
        </button>
      </div>
      <div class="summary">
        <h1>Summary</h1>
        {% if summary %}
        <p>{{ summary }}</p>
        {% endif %}
      </div>
      <hr />
      <!-- Row containing the images from IG and tweets from twitter -->
      <div class="social_media">
        <div class="instagram">
          <h1>Instagram Posts</h1>
          <hr />
          {% for ig in insta %}
          <h3>{{ ig.username }}</h3>
          {% for image in ig.images %}
          <img
            class="ig-post"
            src="{{ url_for('static', filename=i_content) }}"
            alt="insta"
          />
          <p>{{ image.caption }}</p>
          {% endfor %} {% endfor %}
          <!-- {% if i_content %}
            <img
              class="head-logo"
              
              src="{{ url_for('static', filename=i_content) }}"
              alt="insta"
              
            />
          {% else %}
            <h3>No content found</h3>
          {% endif %} -->
        </div>
        <div class="twitter">
          <h1>Tweets</h1>
          <hr />
          {% for tweet in tweets %}
          <h3>{{ tweet.username }}</h3>
          <p>{{ tweet.message }}</p>
          <br />
          {% endfor %}
        </div>
      </div>
    </section>

    <script src="./app.js"></script>
  </body>
</html>
