<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}" />
    <title>Accident Report</title>
  </head>
  <body style="background-color: beige">
    <section class="header">
      <div class="main_body">
        <img
          class="logo"
          src="{{ url_for("static", filename="assets/accrep.JPG") }}"
          alt="logo"
          height="100"
          width="800" 
        />
        <div class="update">
          <h2>News Update</h2>
          <p>*incoming news from Facebook API*</p>
        </div>
      </div>
      <hr />
      <div class="recent">
        <h1>Recent News</h1>
        <button>Go to location</button>
      </div>
      <div class="summary">
        <h1>Summary</h1>
        <h3>*news summary*</h3>
        </div>
      <hr />
      <!-- Row containing the images from IG and tweets from twitter -->
      <div class="social_media">
        <div class="instagram">
          <img
            class="head-logo"
            src="{{ url_for("static", filename="assets/insta_demo.jpg") }}"
            alt="insta"
            height="400"
            width="600"
          />
        </div>
        <div class="twitter">
          <!-- <img
            class="head-logo"
            src="./assets/twitter_demo.jpg"
            alt="logo"
            height="400"
            width="600"
          /> -->

          <blockquote class="twitter-tweet" data-width="550"><p lang="en" dir="ltr">Get Tesla Solar plus Powerwall battery for 24/7 clean power &amp; no more blackouts! <a href="https://t.co/mDoPO17YB9">https://t.co/mDoPO17YB9</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1182812717083611138?ref_src=twsrc%5Etfw">October 12, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
      </div>
    </section>

    <script src="./app.js"></script>
  </body>
</html>